<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<main role="main">
    @RenderBody()
</main>

@RenderSection("Scripts", required: false)
</body>
</html>